<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostreSQL Tutorial</title>
</head>
<body>
    <h1>Home</h1

    <form method="GET" action="/">
      <input type="text" name="search" placeholder="Search usernames..." />
      <button type="submit">Search</button>
    </form>

    <ul>
        <% usernames.forEach(user => { %>
          <li><%= user.username %></li>
        <% }); %>
      </ul>
    <a href="/new">Create a Users</a>
</body>
</html>